html,
body {
    margin: 0;
    font-family: 'Onest', sans-serif;
}

.contenedor {
    margin: 0px;
    padding: 0px;
}

/* barra estetica de navegacion en una supuesta plataforma mas amplia */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    background-color: #fff3d1;
    border-color: #ffc107;
    border-style: solid;
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: center;
    justify-items: center;
    font-size: 1vw;
}

.navitem:hover {
    cursor: pointer;
}
.slot1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}

.logofalso{
    width: 70px;
    height: 70px;
    /* box-sizing: border-box; */
    padding: 10px;

}
.textlogo{
    /* font-size: 15px; */
    padding: 10px;
}
.slot7{
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    text-align: center;
    align-items: center;
}
.crud {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 40px;
}

.titulocrud {
    text-align: center;
    color: rgb(100, 100, 114, );
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;

}

/* Tamaño de fuente de las entradas a 1rem unidad relativa, equivale al tamaño por defecto del navegador, 2rem = 18px * 2  */
.formInput {
    padding: 5px;
    font-size: 1vw;
    border-radius: 4px;
    border: solid 0.25px rgb(42, 177, 132);
}

/* estilos formulario */
.formucrud {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 40px;
    padding: 20px;
    grid-gap: 15px;
    border: solid 2px rgb(42, 177, 132);
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(220, 248, 239);
    justify-self: center;
    box-sizing: border-box;

}

#fechainput {
    width: auto;
}

.button {
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
    transition-duration: 0.5s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* Estilos especificos a "botón "primary" pero conserva propiedades del botón general "padre" */
.botonadd {
    background-color: white;
    background-image: url(./public/assets/img/add.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    border: none;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    transition: transform 0.6s;
    margin-bottom: 15px;

}


.botonadd:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.botonEnviar {
    background-color: aquamarine;
    background-image: url(./public/assets/img/save.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 0.25px rgb(42, 177, 132);
    grid-column: 2 / 4;
    height: 100%;
}

.botonEliminar {
    background-image: url(./public/assets/img/delete.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    background-color: #dc3545;
    color: #f0f0f0;
    border-style: hidden;
    margin-top: 2px;

}

.botonEditar {
    background-image: url(./public/assets/img/edit.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-right: 2px;
    background-color: #ffc107;
    border-style: hidden;
}


/* Estilos a la tabla del Crud */
.crudtable {
    width: 100%;
    border-collapse: collapse;
    justify-self: center;
    margin-top: 30px;
}

.table_body td {

    padding: 5px;
    border: solid 0.25px #f6900b;
    background-color: #fff6e9;

}

.table_header {
    padding: 6px;
    background-color: #FFC273;
    border: solid 0.25px #f6900b;
}

@media screen and (max-width: 800px) {
    .contenedor {
        padding: 10px;
    }
    .logofalso{
        padding: 5px;
    
    }
    .textlogo{
        font-size: 12px;
    }
    .navitem{
        font-size: 11px ;
        padding: 5px;
    }
    .userfake{
        width:35px ;
        height: 35px;
    }
    .titulocrud {
        text-align: center;
        color: rgb(100, 100, 114, );
        width: 300px;
        justify-self: center;
        font-size: 30px;
    }

    .formucrud {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }

    .crud {
        display: grid;
        width: 100%;
        grid-template-rows: 0.1fr max-content 0.2fr 1fr;
        grid-template-columns: 1fr;

    }

    .botonEliminar {
        width: 40px;
        height: 40px;
    }

    .botonEditar {
        width: 40px;
        height: 40px;
    }

    td {
        font-size: 2vw;
        padding: 3px;
        width: 40px;
        text-align: center;
    }

    .table_header {
        font-size: 2vw;
        padding: 0px;
        height: 20px;
    }

    select {
        width: 100%;
        box-sizing: border-box;
    }

    .botonadd {
        margin-bottom: 20px;
        padding-bottom: 30px;
    }

    .button {
        width: 25px;
        height: 25px;
    }

    .botonEnviar {
        grid-area: 3 / 3 / 4 / 4;
        width: 100%;
        height: 100%;
    }

    .formInput {
        padding: 5px;
        font-size: 1rem;
        border-radius: 4px;
        border: solid 0.25px rgb(42, 177, 132);
        width: 100%;
        box-sizing: border-box;
    }

    .crudtable {
        justify-items: center;
        width: auto;
    }

    .hidden {
        display: none;
    }
}