.contenedor {

    padding: 20px;
}
.navbar{ display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #fff3d1;
    border-color: #ffc107;
    border-style: solid;
}
.crud {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.2fr 1fr;
    grid-template-columns: 1fr;
    /* background-color: #fde9f2; */
    /* background-image: url(/PROYECTO2CRUDAPP/public/assets/img/BlueTrianglePattern.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.titulocrud {
    text-align: center;
    color: rgb(100, 100, 114, );

}

/* Tamaño de fuente de las entradas a 1rem unidad relativa, equivale al tamaño por defecto del navegador, 2rem = 18px * 2  */
.formInput {
    flex: 1;
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    border: solid 0.25px rgb(42, 177, 132);
}

.formucrud {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 40px;
    padding: 10px;
    grid-gap: 15px;
    border: solid 2px rgb(42, 177, 132);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(220, 248, 239);
    justify-self: center;
}

#fechainput {
    width: 100%;
}

.button {
    padding: 5px;
    border-radius: 4px;
    font-weight: 700;
    transition-duration: 0.5s;
    border: solid 0.25px rgb(42, 177, 132);
}

.button:hover {
    transform: scale(1.2);
}


/* Estilos especificos a "botón "primary" pero conserva propiedades del botón general "padre" */
.botonadd {
    background-color: white;
    background-image: url(./public/assets/img/add.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    border: none;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    transition: transform 0.6s;
    margin-bottom: 15px;
}

.titulocrud {
}

.botonadd:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.botonEnviar {
    background-color: aquamarine;
    background-image: url(./public/assets/img/send.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 0.25px rgb(42, 177, 132);
    grid-column: 2 / 4;
    height: 100%;
}

.botonEliminar {
    background-image: url(./public/assets/img/delete.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    background-color: #dc3545;
    color: #f0f0f0;
}

.botonEditar {
    background-image: url(./public/assets/img/edit.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-right: 1vw;
    background-color: #ffc107;
}

.mensaje-validacion {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    display: none;
    /* Por defecto, oculta el mensaje de validación */
}

/* Estilos a la tabla del Crud */
.crudtable {
    width: 80%;
    border-collapse: collapse;
    justify-self: center;
    margin-top: 50px;
}

.table_body td {

    padding: 5px;
    border: solid 0.25px #f6900b;
    background-color: #fff6e9;

}

.table_header {
    padding: 6px;
    background-color: #FFC273;
    border: solid 0.25px #f6900b;
}

@media screen and (max-width: 800px) {
    .contenedor {
        padding: 10px;
    }

    .titulocrud {
        text-align: center;
        color: rgb(100, 100, 114, );
        width: 300px;
        justify-self: center;
    }

    .formucrud {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: fit-content;
        margin-left: 20px;
        margin-right: 20px;
    }

    input {
        width: auto;
    }

    .crud {
        display: grid;
        width: 5vw;
        grid-template-rows: 0.1fr max-content 0.2fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    td {
        font-size: 2vw;
    }

    th {
        font-size: 2vw;
    }

    input {
        width: 100%;
    }

    select {
        width: 100%;
    }
    .botonadd{
        margin-bottom: 0px;
    }

    .button {
        width: 40px;
        height: 40px;
    }

    .botonEnviar {
        grid-area: 3 / 3 / 4 / 4;
        width: 100%;
    }

    .formInput {
        flex: 1;
        padding: 5px;
        font-size: 1rem;
        border-radius: 4px;
        border: solid 0.25px rgb(42, 177, 132);
    }

    .crudtable {
        max-width: 700px;
    }

    .table_header .td {
        font-size: 1vw;
        height: 1vw;
        width: 1vw;
    }

    .hidden {
        display: none;
    }
}